:root {
    --mdc-theme-primary: #0072ba;
}
.font-bold {
    font-weight: bolder;
}

.mdc-select {
    max-width: 100%;
}

.center {
    text-align: center
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

ul {
    list-style: none
}

ul li {
    margin-top: 3%;
}